// Colors
$color-primary-blue: #49DEFF;
$color-primary-green: #4FFFDF;
$color-primary-black: #303030;
$color-secondary-black: #4E4E4E;
$color-secondary-gray: #DEDEDE;
$color-secondary-gray-light: #F4F4F4;
$color-secondary-gray-lighter: #F9F9F9;


