@import "./colors.scss";
@import "./variables.scss";

.section-heading {
    padding-top: calc($headerHeight + $headerMarginVerticalMobile + calc($headerMarginVerticalMobile / 2));
    border-bottom: 1px solid $color-secondary-gray;
    &__bg {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
    }
    &__content {
        margin-top: 185px;
        max-width: 632px;
    }
    &__title {
        margin-bottom: 21px;
        font-weight: 600;
        font-size: 60px;
        line-height: 133.2%;
        color: $color-primary-black;
    }
    &__content span {
        display: block;
        margin-bottom: 32px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 25px;
        line-height: 160%;
        color: $color-secondary-black;
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 76px;
    }
    &__review {
        max-width: 624px;
        width: 100%;
        padding: 56px 0;
        border-top: 1px solid $color-secondary-gray;
    }
}

.section-features {
    margin-top: 200px;
    margin-bottom: 89px;

    &__title {
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 40px;
        line-height: 133.2%;
        color: #303030;
        text-align: center;
    }
    &__description {
        max-width: 870px;
        margin: 0 auto 29px auto;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: $color-secondary-black;
        text-align: center;
    }
    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 44px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 50px 47px;
        width: 100%;
        min-height: 222px;
        background: rgba(244, 244, 244, 0.93);
        box-shadow: inset -2.57262px 2.57262px 0px #FFFFFF;
        border-radius: 10px;
    }
    &__card.active {
        background: #FFFFFF;
        box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.25);
    }
    &__card-title {
        margin: 0;
        margin-top: 22px;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        text-transform: capitalize;
        color: $color-primary-black;
    }
    &__card-description {
        margin: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-transform: capitalize;
        color: $color-secondary-black;
    }
}