@import "./colors";
@import "./variables";

* {
  font-family: $base-font-family;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 133.2%;
}
h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 133.2%;
}
h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 51px;
}
h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 129.7%;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: $color-secondary-black
}

ul li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: $color-primary-black;
}

body {
}
.content {
  max-width: calc(100% - 28px);
  width: 100%;
  margin: 0 auto;
  height: 100%;

  @media (min-width: $sm) {
    max-width: calc($sm - 28px);
  }
  @media (min-width: $md) {
    max-width: calc($md - 28px);
  }
  @media (min-width: $lg) {
    max-width: calc($lg - 28px);
  }
  @media (min-width: $x) {
    max-width: calc($x - 28px);
  }
  @media (min-width: $xl) {
    max-width: calc($xl - 28px);
  }
  @media (min-width: $xxl) {
    max-width: calc($xxl - 28px);
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 14px 59px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: $color-primary-black;
  transition: color $transition-duration,
    background-color $transition-duration,
    border-color $transition-duration;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-green;
    color: $color-primary-black;
  }
  &.disabled {
    background-color: #EAEAEA;
    color: $color-secondary-black;
  }
  &.primary {
    background-color: $color-primary-blue;
    color: var(--color-primary-black);
  }
  &.transparent {
    background-color: transparent;
    color: $color-primary-black;
    border: 1px solid transparent;
  }
  &.transparent:hover {
    color: $color-primary-green;
    border-color: $color-primary-black;
    background-color: $color-primary-black;
  }
  &.glass {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    font-weight: 600;
    color: #313131;
    border-color: rgba(255, 255, 255, 0.75);
  }
  &.glass:hover {
    border-color: $color-primary-green;
  }
}

.icon {
  display: block;
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon.accept {
  background-image: url('../../images/icons/accept.svg');
}
.icon.book {
  background-image: url('../../images/icons/book.svg');
}
.icon.car {
  background-image: url('../../images/icons/car.svg');
}
.icon.facebook {
  background-image: url('../../images/icons/facebook.svg');
}
.icon.instagram {
  background-image: url('../../images/icons/instagram.svg');
}
.icon.linkedin {
  background-image: url('../../images/icons/linkedin.svg');
}
.icon.gear-inside {
  background-image: url('../../images/icons/gear-inside.svg');
}
.icon.gear {
  background-image: url('../../images/icons/gear.svg');
}
.icon.house {
  background-image: url('../../images/icons/house.svg');
}
.icon.lamp {
  background-image: url('../../images/icons/lamp.svg');
}
.icon.note {
  background-image: url('../../images/icons/note.svg');
}
.icon.ok {
  background-image: url('../../images/icons/ok.svg');
}
.icon.person {
  background-image: url('../../images/icons/person.svg');
}
.icon.pie-chart {
  background-image: url('../../images/icons/pie-chart.svg');
}
.icon.speakerphone-blue {
  background-image: url('../../images/icons/speakerphone-blue.svg');
}
.icon.speakerphone {
  background-image: url('../../images/icons/speakerphone.svg');
}
.icon.twitter {
  background-image: url('../../images/icons/twitter.svg');
}
.icon.youtube {
  background-image: url('../../images/icons/youtube.svg');
}
.icon.speaking-person {
  background-image: url('../../images/icons/speaking-person.svg');
}
.icon.thumbsup {
  background-image: url('../../images/icons/thumbsup.svg');
}
