include ../common/page-base-template.pug
    //- block links
    //-     link(rel="stylesheet" href="index.css")
    block title
        title ddsadsa
    block body
        | Hello World
    //- block scripts
    //-     script(src="index.js")
