@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding: $headerMarginVerticalMobile 0 calc($headerMarginVerticalMobile / 2) 0;
    transition: background-color $transition-duration;
    &.active {
        background-color: $color-primary-blue;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: $md) {
        padding: $headerMarginVertical 0 calc($headerMarginVertical / 2) 0;
    }

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo img.full {
        display: none;
        @media (min-width: $md) {
            display: block;
        }
    }
    &__logo img.mobile {
        display: block;
        @media (min-width: $md) {
            display: none;
        }
    }
    &__menu {
        position: absolute;
        right: 0;
        top: 12px;
        z-index: 10;
        width: 200px;
        height: 0;
        @media (min-width: $md) {
            height: calc(100% - $headerMarginVertical);
        }
        @media (min-width: $x) {
            position: static;
            align-items: center;
            width: 100%;
        }
        &.active {
            top: 12px;
            visibility: visible;
            opacity: 1;
        }
        &.active ul {
            top: 48px;
            visibility: visible;
            opacity: 1;
        }
        &-trigger {
            position: absolute;
            right: 0;
            z-index: 11;
            @media (min-width: $x) {
                display: none;
            }
        }
        &-trigger span {
            display: block;
            width: 30px;
            height: 5px;
            background: $color-primary-black;
            margin: 3px 0px;
            border-radius: 2px;
        }
    }
    &__menu ul {
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        align-items: end;
        flex-direction: column;
        height: 315px;
        margin: 0;
        padding: 12px;
        border-radius: 0 0 12px 12px;
        background-color: $color-primary-blue;
        visibility: hidden;
        opacity: 0;
        list-style-type: none;
        transition: height $transition-duration,
            top $transition-duration,
            visibility $transition-duration,
            opacity $transition-duration;
        @media (min-width: $x) {
            position: static;
            top: 0;
            visibility: visible;
            opacity: 1;
            height: auto;
            background-color: transparent;
            flex-direction: row;
            transform: none;
            justify-content: flex-end;
        }
    }
    &__menu ul li {
        margin-right: 0;
        @media (min-width: $x) {
            margin-right: 45px;
        }
    }
    &__menu ul li:last-child {
        margin-right: 0;
    }
    &__menu ul li a {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: $color-primary-black;
        text-decoration: none;
    }
    &__menu ul li a:hover {
        text-decoration: underline;
    }
}