footer.footer
    .footer__background
    .footer__top 
        img(src="../../images/logo.svg", alt="logo")
        .footer__top-socials
            a(href="#")
                .icon.instagram
            a(href="#")
                .icon.facebook
            a(href="#")
                .icon.twitter
            a(href="#")
                .icon.linkedin
            a(href="#")
                .icon.youtube
    .footer__