doctype html

html
    include ./base-head.pug
        block links

        title
            block title
                | PrimeCRM
            

    body    
        div.content
            include ../components/header/header.pug  
            
            block bodyContent

        

    //- include ./base-scripts.pug
    block scripts

