doctype html

html
    include ./base-head.pug
        link(rel="stylesheet", href="./css/components/header/style.css")
        link(rel="stylesheet", href="./css/components/footer/style.css")
        block links

        title
            block title
                | PrimeCRM
            

    body    
        div.content
            include ../components/header/header.pug  
            
            block bodyContent

            include ../components/footer/footer.pug
    include ./base-scripts.pug
        block scripts

